version: "3.8"

services:
  nginx:
    build:
      context: .
      dockerfile: ./docker/nginx/Dockerfile
    restart: always
    volumes:
      - type: bind
        source: ./src
        target: /var/www/html
    ports:
      - "${WEB_PORT}:80"

  node:
    build:
      context: .
      dockerfile: ./docker/node/Dockerfile
    restart: always
    volumes:
      - type: bind
        source: ./src
        target: /src
    tty: true
    environment:
      - HOST=0.0.0.0
    ports:
      - "${UI_PORT}:3000"
